.inicio {
    text-align: center;
    font-size: 17px;
    color: rgb(6, 46, 46);
    font-family: Verdana, sans-serif;
    font-weight: bold;
    background-color: aquamarine;
    padding: 0px;
    font-family: verdana;
    color: rgb(6, 46, 46);

}
#container {
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(6, 46, 46);
    
    padding: 0px;
}

#cabecera {
    text-align: center;
    font-size: 34px;
    color: rgb(6, 46, 46);
    font-family: Verdana, sans-serif;
    font-weight: bold;
   
    padding: 0px;
    font-family: verdana;
    color: rgb(6, 46, 46);
   
}

#pretend {
    color: rgb(6, 46, 46);
    font-family: fantasy;
    font-size: 40px;

}
#parrafo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20;
    
}